.unfinishedPlayersComponent {
    z-index: 100;
    position: absolute;
    inset: auto 0 0 0;
    width: 100%;
    background-color: var(--prime-color);
    border-radius: 3rem 3rem 0 0;
    padding: 1rem;

    display: grid;
    gap: 2rem;
    box-shadow: 0 0 1rem black;

    button {
        position: absolute;
        --margin: 1.5rem;
        inset: var(--margin) var(--margin) auto auto;
        border-radius: 50%;
        background-color: var(--prime-color);
        border: none;
    }

    .avatars {
        display: flex;
        flex-wrap: wrap;
        place-content: center;
        gap: 5%;

        &>* {
            width: 21%;
        }
    }
}