.counterComponent {
    font-size: inherit;
    border-radius: 100%;
    padding: 4px;
    width: 100%;
    aspect-ratio: 1;
    color: hsl(0, 0%, 20%);
    border: solid 3px hsl(0, 0%, 20%);
    background-color: #fcfce1;
    
    display: grid;
    place-items: center;
}