.SwipeModal {
    // from parent:
    // --animationDurationInMs
    // --bar-height
    // --bar-width

    .backdrop {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: black;
        opacity: 0.3;
        transition: opacity var(--animationDurationInMs);
        display: none;
    }
    
    .modal {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100vw;
        background-color: var(--prime-color);
        --border-radius: 1.2rem;
        border-radius: var(--border-radius) var(--border-radius) 0 0;
        transform: translateY(100%);

        .bar-touchzone {
            --padding-block: 0.4rem;
            height: calc(2 * var(--padding-block) + var(--bar-height));
            display: grid;
            place-content: center;

            .bar {
                width: var(--bar-width);
                height: var(--bar-height);
                border-radius: 2rem;
                background-color: var(--secondary-color);
            }
        }
    }
}