.SwipeModal {
    /*
        from parent:
        --animationDurationInMs
        --backdropColor
        --backdropOpacity
        --barColor
        --barHeight
        --barWidth
        --modalColor
    */

    .backdrop {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: var(--backdropColor);
        opacity: var(--backdropOpacity);
        transition: opacity var(--animationDurationInMs);
        display: none;
    }
    
    .modal {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100vw;
        background-color: var(--modalColor);
        --border-radius: 1.2rem;
        border-radius: var(--border-radius) var(--border-radius) 0 0;
        transform: translateY(100%);

        .bar-touchzone {
            --padding-block: 0.4rem;
            height: calc(2 * var(--padding-block) + var(--barHeight));
            display: grid;
            place-content: center;

            .bar {
                width: var(--barWidth);
                height: var(--barHeight);
                border-radius: 2rem;
                background-color: var(--barColor);
            }
        }
    }
}