.avatarBubbleComponent {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1rem;

    .host {
        position: absolute;
        top: 0;
        left: 50%;
        translate: -50% -50%;
        background: var(--accent-color);
        border-radius: 20px;
        padding: 3px 12px;
    }
    
    .avatar {
        width: 100%;
        aspect-ratio: 1;
        border-radius: 100%;
        background-color: mediumaquamarine;
        padding: 10%;
    }

    .username {
    }
}