.finishscreenComponent {
    display: grid;
    place-items: center;
    gap: 24px;
    margin-top: 20%;

    .counterWrapper {
        width: 88px;
        aspect-ratio: 1;
        font-size: 2rem;
    }
}