.finishscreenComponent {
    display: grid;
    place-items: center;
    gap: 1.5rem;
    margin-top: 20%;

    .counterWrapper {
        width: 5rem;
        aspect-ratio: 1;
        font-size: 2rem;
    }
}