.counterComponent {
    font-size: inherit;
    border-radius: 100%;
    padding: 0.3rem;
    width: 100%;
    aspect-ratio: 1;
    color: hsl(0, 0%, 20%);
    border: solid 3px var(--secondary-color);
    display: grid;
    place-items: center;
    background-color: var(--prime-color);
}