.dialComponent {
    --hand-background-color: darkred;
    --hand-border-color: darkred;

    --dial-background-color: hsl(34, 78%, 86%);
    --dial-border-color: var(--secondary-color);
    --dial-border-width: 0;

    --points3-color: hsl(0, 0%, 95%);
    --points2-color: var(--accent-color-2);
    --points1-color: var(--accent-color-3);
    
    --hand-height: 40%;
    --hand-width: 4%;
    --hand-root-width: 15%;
    --active-sector: 6%;
    
    position: relative;
    width: 100%;
    aspect-ratio: 1;
    user-select: none;

    .dial {
        position: absolute;
        width: 100%;
        height: 50%;
        overflow: hidden;
        
        .dialBackground {
            position: absolute;
            inset: 0;
            aspect-ratio: 1;
            scale: calc(100% - var(--active-sector));
            border: solid var(--dial-border-width) var(--dial-border-color);
            background-color: var(--dial-background-color);
            border-radius: 100%;
            clip-path: polygon(
                0 0,
                100% 0,
                100% 50%,
                0 50%,
            );

            &::after {
                content: "";
                position: absolute;
                inset: auto 0 50% 0;
                border-bottom: solid var(--dial-border-width) var(--dial-border-color);
            }
                
            // background-image: url("../../assets/paper fan.png"); 
            // background-size: contain;
            // background-repeat: no-repeat;
        }

        .avatarWrapper {
            z-index: 25;
            position: absolute;
            width: 15%;
            translate: -50% -50%;
            opacity: 0;
            transition: opacity 500ms;
            pointer-events: none;
        }
 
        .solution {
            // come from parent:
            // --angle
            // --widthInDegrees

            position: absolute;
            inset: 0;
            aspect-ratio: 1;
    
            .sector {
                z-index: 1;
                position: absolute;
                width: 100%;
                aspect-ratio: 1;
                border-radius: 100%;
                transform: rotate(var(--angle));
                scale: calc(100% - var(--active-sector));

                clip-path: polygon(
                    50% 50%,
                    0 calc(50% + calc(50% * sin(var(--widthInDegrees))/2)),
                    0 calc(50% - calc(50% * sin(var(--widthInDegrees))/2)),
                );
    
                span {
                    position: absolute;
                    left: 2%;
                    bottom: 50%;
                    translate: 0 50%;
                    transform: rotate(-90deg);
                    color: black;
                }
            }
    
            .enabled {
                scale: 100%;
            }

            .points3 {
                background-color: var(--points3-color);
            }
            .points2 {
                background-color: var(--points2-color);
            }
            .points2-left {
                transform: rotate(calc(var(--angle) - var(--widthInDegrees)*1));
            }
            .points2-right {
                transform: rotate(calc(var(--angle) + var(--widthInDegrees)*1));
            }
            .points1 {
                background-color: var(--points1-color);
            }
            .points1-left {
                transform: rotate(calc(var(--angle) - var(--widthInDegrees)*2));
            }
            .points1-right {
                transform: rotate(calc(var(--angle) + var(--widthInDegrees)*2));
            }
        }
    }

    .hand {
        z-index: 20;
        position: absolute;
        width: var(--hand-width);
        height: var(--hand-height);
        background-color: var(--hand-background-color);
        border: solid 4px var(--hand-border-color);
        border-bottom: none;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        left: 50%;
        bottom: 50%;
        translate: -50%;
        transform-origin: bottom;
        clip-path: polygon(
            0 0,
            100% 0,
            100% calc(99% - var(--hand-root-width)),
            0% calc(99% - var(--hand-root-width)),
        );
    }

    .handRoot {
        z-index: 10;
        position: absolute;
        width: var(--hand-root-width);
        aspect-ratio: 1;
        bottom: 50%;
        left: 50%;
        translate: -50% 50%;
        background-color: var(--hand-background-color);
        border-radius: 100%;
        border: solid 4px var(--hand-border-color);
    }

    .scales {
        position: absolute;
        inset: 50% 0 0 0;
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        .scale {
            display: flex;
            flex-direction: column;
            padding: 10%;
        }
    }
}