.dialComponent {
    --hand-width: 4%;
    --hand-root-width: 25%;
    --hand-background-color: red;
    --dial-background-color: var(--accent-color);
    --active-sector: 5%;
    
    position: relative;
    width: 100%;
    aspect-ratio: 1;
    user-select: none;

    .dial {
        position: absolute;
        width: 100%;
        height: 50%;
        overflow: hidden;
        
        .dialBackground {
            position: absolute;
            inset: 0;
            aspect-ratio: 1;
            scale: calc(100% - var(--active-sector));
            background-color: var(--dial-background-color);
            border-radius: 100%;
        }

        .solution {
            // --angle -> comes from parent
            --widthInDegrees: 6deg;
            --points3-color: mediumaquamarine;
            --points2-color: orange;
            --points1-color: yellow;

            position: absolute;
            inset: 0;
            aspect-ratio: 1;
    
            .sector {
                z-index: 1;
                position: absolute;
                width: 100%;
                aspect-ratio: 1;
                border-radius: 100%;
                transform: rotate(var(--angle));
                scale: calc(100% - var(--active-sector));
                clip-path: polygon(
                    50% 50%,
                    0 calc(50% + calc(50% * sin(var(--widthInDegrees)))),
                    0 calc(50% - calc(50% * sin(var(--widthInDegrees)))),
                ); 
    
                span {
                    position: absolute;
                    left: 2%;
                    bottom: 50%;
                    translate: 0 50%;
                    transform: rotate(-90deg);
                    color: black;
                }
            }
    
            .points3 {
                background-color: var(--points3-color);
            }

            .points2 {
                background-color: var(--points2-color);
            }
            .points2-left {
                transform: rotate(calc(var(--angle) - var(--widthInDegrees)*2));
            }
            .points2-right {
                transform: rotate(calc(var(--angle) + var(--widthInDegrees)*2));
            }

            .points1 {
                background-color: var(--points1-color);
            }
            .points1-left {
                transform: rotate(calc(var(--angle) - var(--widthInDegrees)*4));
            }
            .points1-right {
                transform: rotate(calc(var(--angle) + var(--widthInDegrees)*4));
            }

            .active {
                scale: 100%;
            }
        }
    }

    .hand {
        z-index: 2;
        position: absolute;
        width: var(--hand-width);
        height: 42%;
        background-color: var(--hand-background-color);
        border-radius: 10px;
        left: 50%;
        bottom: calc(50% + var(--hand-width) / 2);
        translate: -50%;
        transform-origin: bottom;
    }

    .handRoot {
        z-index: 10;
        position: absolute;
        width: var(--hand-root-width);
        aspect-ratio: 1;
        bottom: calc(50% + var(--hand-width) / 2);
        left: 50%;
        translate: -50% 50%;
        background-color: var(--hand-background-color);
        border-radius: 100%;
    }

    .scales {
        position: absolute;
        inset: 50% 0 0 0;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        text-align: center;

        .scale {
            display: flex;
            flex-direction: column;
            padding: 10%;
        }
    }
}