.cardComponent {
    width: 100%;
    background: linear-gradient(115deg,
        var(--accent-color-2) 10%,
        var(--prime-color) 45%,
        var(--prime-color) 55%,
        var(--accent-color-3) 90%
    );
    border: solid 1px var(--secondary-color);
    outline: solid 1px var(--secondary-color);
    color: black;
    outline-offset: -6px;
    padding: 1rem;
    font-size: 1rem;
}