.cardComponent {
    width: 100%;
    background: linear-gradient(115deg,
        rgba(131,224,195,1) 10%,
        rgba(252,252,225,1) 45%,
        rgba(252,252,225,1) 55%,
        rgba(255,176,126,1) 90%
    );
    border: solid 1px hsl(0, 0%, 30%);
    outline: solid 1px hsl(0, 0%, 30%);
    color: black;
    outline-offset: -6px;
    padding: 16px;
    font-size: 1rem;
}