.homeComponent {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: start;

    .back {
        margin-block: 24px;
        font-size: 0.6rem;
    }

    .input {
        display: flex;
        flex-direction: column;
        gap: 4px;
    }
}