.homeComponent {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: start;

    .back {
        margin-block: 24px;
        font-size: 0.6rem;
    }

    input {
        width: 100%;
        background-color: hsl(0, 0%, 20%);
        border: none;
        border-radius: 8px;
        color: white;
        padding: 8px;
        font-size: 0.9rem;

        &:focus {
            outline: solid 2px rgb(101, 101, 247);
        }
    }
}