.createComponent {
    --username-delay: 0.4s;
    --scroll-delay: 0.9s;

    .username {
        animation:
            hide var(--username-delay) forwards,
            slideUp 500ms forwards var(--username-delay);
    }

    .scroll {
        animation:
        hide var(--scroll-delay) forwards,
        slideRight 500ms forwards var(--scroll-delay);
    }
}