.lobbyComponent {
    display: grid;
    place-items: center;
    gap: 3rem;

    // .packs {
    //     width: 100%;
    //     display: flex;
    //     gap: 1rem;
    // }

    
    .share {
        display: grid;
        gap: 1rem;
        padding: 2rem;
        padding-top: 0.8rem;
        color: black;

        .code {
            padding-inline: 1.6rem;
        }
        
        .link {
            padding: 1rem;
            border: solid 4px black;
            border-radius: 0.4rem;
        }
    }

    .playerBubble {
        width: 75%;
        display: grid;
        grid-template-columns: 15% 70% 15%;
        place-items: center;
        font-size: 2.5rem;
    }

    .guestCards {
        width: 100%;
        display: grid;
        gap: 0.7rem;

        .row {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 1.4rem;
        }

        .second-row {
            margin-left: 12.5%;
        }
    }
}