:root {
  font-family: system-ui, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background-color: hsl(0, 0%, 10%);
  color: hsl(0, 0%, 90%);
}

button {
  color: white;
  background-color: transparent;
  border: none;
}

.actionButton {
  width: 100%;
  background-color: rgb(101, 101, 247);
  border-radius: 32px;
  padding: 12px;
  text-transform: uppercase;

  &:disabled {
      opacity: 0.5;
  }
}

* {
  box-sizing: border-box;
}