:root {
  font-family: system-ui, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  text-align: center;

  --prime-color: antiquewhite;
  --secondary-color: hsl(0, 0%, 30%);
  
  --accent-color-2: rgba(131,224,195,1);
  --accent-color-3: rgba(255,176,126,1);
  --accent-color: rgb(101, 101, 247);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}