:root {
  font-family: system-ui, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  text-align: center;

  --prime-color: antiquewhite;
  --secondary-color: hsl(0, 0%, 30%);
  --tertiary-color: hsl(0, 0%, 40%);
  
  --accent-color-2: rgba(131,224,195,1);
  --accent-color-3: rgba(255,176,126,1);
  --accent-color: rgb(101, 101, 247);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

@keyframes slideUp {
  0% {
    opacity: 0;
    translate: 0 100%;
  }

  100% {
    opacity: 1;
    translate: 0% 0%;
  }
}

@keyframes slideRight {
  0% {
    opacity: 0;
    translate: -100% 0%;
  }

  100% {
    opacity: 1;
    translate: 0% 0%;
  }
}

@keyframes hide {
  0% {
    opacity: 0%;
  }

  100% {
    opacity: 0%;
  }
}