.playComponent {
    .unfinishedPlayers {
        position: absolute;
        inset: auto 0 0 0;
        width: 100%;
        height: 50%;
        border: solid 2px orange;
        // display: grid;
        display: flex;
        gap: 40px;
        // grid-template-columns: 1fr 1fr;
    }
}